.footercc {
  position: absolute; 
  bottom: 11.6px; 
  left: 10px; 
  color#005587;
  font-size: xx-small;
}

.opacity30 {
  opacity: 0.3;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.imgspcl {
flex: 1;
max-width: 100%;
height: auto;
max-height: 200px;
}

.title-slide h1{
  font-size: 250%;
}

.title-slide h2{
  font-size: 150%;
  font-style: italic;
}

.title-slide h3{
  font-size: 90%;
  color: #988675 /* dogwood */;
}

.fa-2x{
  color: #005587;
}

.prussian {
  color: #005587; 
}





