*.qmd linguist-language=R
*.Rmd linguist-language=R
*.R linguist-language=R
*.html linguist-documentation
*.js linguist-documentation
*.css linguist-documentation
*.scss linguist-documentation
*.cpp linguist-detectable=false
*.hpp linguist-detectable=false
*.h linguist-detectable=false
*.cpp linguist-detectable=false
*.c linguist-detectable=false
Makefile linguist-detectable=false
GNUmakefile linguist-detectable=false
*.tex linguist-detectable=false
*.sty linguist-detectable=false
